// FOOTER :: START
footer.footer
  img.section-bg(src='img/el/footerBg.png' srcset='img/el/footerBg@2x.png 2x')
  .container
    .footer__wrapper
      .footer__copy © 2015 - 2017 ООО “Чоперс”
      .footer__developer Создание сайтов <a href="http://www.internet-open.ru" target="_blank">Интернет-агентство ОренПро</a>
// FOOTER :: END
