// HEADER :: START
.header.header--inner.wow(data-animation-delay=".3s" data-animation-class="wowFadeDown")
  .container.container--1400
    .header__wrapper
      .header__logo
        +icon('ico-logo')
      .header__menu
        a(href="homepage.html").btn.btn-primary.btn-smaller
          span Меню
        a(href="homepage.html").btn.btn-primary.btn-smaller
          span Доставка
        a(href="homepage.html").btn.btn-primary.btn-smaller
          span Интерьер
        a(href="homepage.html").btn.btn-primary.btn-smaller
          span Контакты
          
// HEADER :: END
