// HEADER :: START
.header.header--inner
  .container.container--1400
    .header__wrapper
      .header__logo
        +icon('ico-logo')
      .header__menu
        a(href="index.html#sectionMenu").btn.btn-primary.btn-smaller
          span Меню
        a(href="index.html#sectionDelivery").btn.btn-primary.btn-smaller
          span Доставка
        a(href="index.html#sectionInterior").btn.btn-primary.btn-smaller
          span Интерьер
        a(href="index.html#sectionContacts").btn.btn-primary.btn-smaller
          span Контакты
      .header__hamburger
        .hamburger.hamburger--squeeze
          .hamburger-box
            .hamburger-inner

.mobile-navi
  .mobile-navi__wrapper
    .mobile-navi__menu
      .mobile-navi__menu-el
        a(href="index.html#sectionMenu").btn.btn-primary.btn-smaller
          span Меню
      .mobile-navi__menu-el
        a(href="index.html#sectionDelivery").btn.btn-primary.btn-smaller
          span Доставка
      .mobile-navi__menu-el
        a(href="index.html#sectionInterior").btn.btn-primary.btn-smaller
          span Интерьер
      .mobile-navi__menu-el
        a(href="index.html#sectionContacts").btn.btn-primary.btn-smaller
          span Контакты
          
// HEADER :: END
