---
title: Главная
bodyClass: homepage
---
extends shared/_layout
block content
  
  // HERO :: START
  .hero
    picture
      source(media="(min-width: 568px)" srcset="img/el/heroBg.jpg")
      source(media="(max-width: 568px)" srcset="img/el/mobileHero.jpg 1x, img/el/mobileHero@2x.jpg 2x")
      img.section-bg(src="img/el/heroBg.jpg")
    .container
      .hero__wrapper
        i.icon.icon-man_logo(data-animation-delay=".1s")
        .hero__title(data-animation-delay=".5s") Мы готовим <br> самые вкусные бургеры <br> в Оренбурге
        
        .hero__cta
          a(href="#sectionMenu").btn.btn-primary.wow(data-animation-delay=".2s")
            span Меню
          a(href="#sectionDelivery").btn.btn-primary.wow(data-animation-delay=".4s")
            span Доставка

  // INSTA :: START
  a(href="https://www.instagram.com/choppersorenburg/" target="_blank").insta
    img.section-bg.section-bg--h-mobile(src='img/el/instaBg.png' srcset='img/el/instaBg@2x.png 2x')
    img.mobile-image(src='img/el/mobileInsta.jpg' srcset='img/el/mobileInsta@2x.jpg 2x')
    .container
      .insta__wrapper
        .insta__title(data-animation-delay="2s") Присоединяйтесь к нам в Instagram
        .insta__social(data-animation-delay="2.25s")
          i.icon.icon-insta-logo
          span choppersorenburg
  
  .insta-feed(js-popup-gallery)
    a.insta-feed__pic(href="https://www.instagram.com/choppersorenburg/" target="_blank")
      img(src='img/burg_1.jpg' srcset='img/burg_1@2x.jpg 2x')
    a.insta-feed__pic(href="https://www.instagram.com/choppersorenburg/" target="_blank")
      img(src='img/burg_2.jpg' srcset='img/burg_2@2x.jpg 2x')
    a.insta-feed__pic(href="https://www.instagram.com/choppersorenburg/" target="_blank")
      img(src='img/burg_3.jpg' srcset='img/burg_3@2x.jpg 2x')
        
    a.insta-feed__pic(href="https://www.instagram.com/choppersorenburg/" target="_blank")
      img(src='img/burg_4.jpg' srcset='img/burg_4@2x.jpg 2x')
    a.insta-feed__pic(href="https://www.instagram.com/choppersorenburg/" target="_blank")
      img(src='img/burg_5.jpg' srcset='img/burg_5@2x.jpg 2x')
    a.insta-feed__pic(href="https://www.instagram.com/choppersorenburg/" target="_blank")
      img(src='img/burg_6.jpg' srcset='img/burg_6@2x.jpg 2x')
        
    a.insta-feed__pic(href="https://www.instagram.com/choppersorenburg/" target="_blank")
      img(src='img/burg_7.jpg' srcset='img/burg_7@2x.jpg 2x')
    a.insta-feed__pic(href="https://www.instagram.com/choppersorenburg/" target="_blank")
      img(src='img/burg_8.jpg' srcset='img/burg_8@2x.jpg 2x')
    a.insta-feed__pic(href="https://www.instagram.com/choppersorenburg/" target="_blank")
      img(src='img/burg_9.jpg' srcset='img/burg_9@2x.jpg 2x')
        
  
  // DELIVERY :: START
  .delivery#sectionDelivery
    picture
      source(media="(min-width: 568px)" srcset="img/el/deliveryBg.jpg 1x, img/el/deliveryBg.jpg 2x")
      source(media="(max-width: 568px)" srcset="img/el/mobileDelivery.jpg 1x, img/el/mobileDelivery@2x.jpg 2x")
      img.section-bg(src="img/el/deliveryBg.jpg")
    .container
      .delivery__wrapper
        // title
        .title
          .title__wrapper
            span Доставка
        
        //- .delivery__row
        //-   .delivery__el(data-animation-delay=".2s")
        //-     .delivery__icon
        //-       i.icon.icon-callcentre
        //-     .delivery__text Принимаем заказы <br> с 11 до 22:30 <br> каждый день
        //- 
        //-   .delivery__el(data-animation-delay=".4s")
        //-     .delivery__icon
        //-       i.icon.icon-dostavka
        //-     .delivery__text Доставляем в течении <br> часа по городу бесплатно <br> от 1000 рублей*
        //- 
        //-   .delivery__el(data-animation-delay=".6s")
        //-     .delivery__icon
        //-       i.icon.icon-wallet
        //-     .delivery__text Принимаем оплату <br> наличными и <br> банковской картой
        //- 
        img.delivery__placeholder(src='img/el/deliveryContent.png', srcset="img/el/deliveryContent@2x.png 2x")
        img.delivery__row-mobile(src="img/el/deliveryMobileContent.png" srcset="img/el/deliveryMobileContent@2x.png 2x")
        
        .delivery__cta
          .delivery__cta-letters.wow(data-animation-delay=".2s" data-animation-class="wowFadeLeft")
            picture
              source(media="(min-width: 568px)" srcset="img/el/deliveryCtaLetters.png 1x, img/el/deliveryCtaLetters@2x.png 2x")
              source(media="(max-width: 568px)" srcset="img/el/deliveryCtaLettersMobile.png 1x, img/el/deliveryCtaLettersMobile@2x.png 2x")
              img(src="img/el/deliveryCtaLetters.png")

          a(href='tel:+73532428062').delivery__cta-phone
            img(src='img/el/deliveryCtaPhone.png' srcset='img/el/deliveryCtaPhone@2x.png 2x').wow(data-animation-delay=".4s" data-animation-class="wowFadeRight")
  
  // MENU :: START
  .menu#sectionMenu
    img.section-bg.section-bg--h-tablet(src='img/el/menuBg.jpg' srcset='img/el/menuBg@2x.jpg 2x')
    .container
      .menu__wrapper
        .menu__slider(data-animation-delay=".2s" data-current-slide="1")
          a(href='img/menu.merged.compressed.pdf' target="_blank").menu__slide
            picture
              // source(media="(min-width: 768px)" srcset="img/menu1.jpg 1x, img/menu1@2x.jpg 2x")
              source(media="(max-width: 768px)" srcset="img/menu1Mobile.jpg")
              img(src="img/menu1.jpg")
                
          a(href='img/menu.merged.compressed.pdf' target="_blank").menu__slide
            picture
              // source(media="(min-width: 768px)" srcset="img/menu2.jpg 1x, img/menu2@2x.jpg 2x")
              source(media="(max-width: 768px)" srcset="img/menu2Mobile.jpg")
              img(src="img/menu2.jpg")
  
  // INTERIOR :: START
  .interior#sectionInterior
    picture
      source(media="(min-width: 568px)" srcset="img/el/interiorBg.jpg 1x, img/el/interiorBg@2x.jpg 2x")
      source(media="(max-width: 568px)" srcset="img/el/mobileInterior.jpg 1x, img/el/mobileInterior@2x.jpg 2x")
      img.section-bg(src="img/el/interiorBg.jpg")
    .container
      .interior__wrapper
        // title
        .title(data-animation-delay=".2s")
          .title__wrapper
            span Интерьер
            
        .interior__slider(data-animation-delay=".2s")
          .interior__slide
            img(src='img/interiorImg_1.jpg')
          .interior__slide
            img(src='img/interiorImg_2.jpg')
          .interior__slide
            img(src='img/interiorImg_3.jpg')
              
  // CONTACT :: START
  .contact#sectionContacts
    picture
      source(media="(min-width: 568px)" srcset="img/el/contactBg.jpg 1x, img/el/contactBg@2x.jpg 2x")
      source(media="(max-width: 568px)" srcset="img/el/mobileContacts.jpg 1x, img/el/mobileContacts@2x.jpg 2x")
      img.section-bg(src="img/el/contactBg.jpg")
    .container
      .contact__wrapper
        // title
        .title.title--black(data-animation-delay=".2s")
          .title__wrapper
            span Контакты
        
        .contact__info
          .contact__credentials(data-animation-delay=".4s")
            .contact__adress Оренбург, <br> ул. 9 Января, 28
            a(href="mailto:orenburg@choppers.cafe").contact__email orenburg@choppers.cafe
            a(href="tel:+73532428062").contact__phone 42-80-62
          .contact__map(data-animation-delay="1s")
            #map
      
