---
title: Главная
bodyClass: homepage
---
extends shared/_layout
block content
  
  .hero
    img.hero__bg(src="img/heroBg.jpg")
    .container
      
      .hero__wrapper
        
        .hero__title Мы готовим <br> самые вкусные бургеры <br> в Оренбурге
        
