---
title: Главная
bodyClass: inner
---
extends shared/_layout

block header
  include components/_header-inner
block content
  
  // TEXT :: START
  .text-page
    .container
      .text-page__container
        .text-page__wrapper
          .text-page__title.wow(data-animation-delay="0s")
            span Интерьер
          
          img(src='img/interiorImg_1.jpg' style="float:left; max-width: 500px").wow(data-animation-delay="0s" data-animation-class="wowFadeLeft")
          p.wow BB&Burgers – cеть городских кафе, открытая в 2013 году, классический Burger Joint в лучшем его проявлении. Главное в меню – определенно бургеры из мраморной говядины Black Angus на домашних булочках. Мы готовим на открытой кухне, которая полностью стирает границы между приготовлением и подачей блюд гостям.
          p.wow Но BB&Burgers – это не только отличное меню, но и наша команда, которая внимательно относится к каждому этапу приготовления, радуется благодарным отзывам и с улыбкой приходит на работу. Cеть бургерных активно растет, а значит, растет и команда! Команда настоящих фанатов сочных бургеров, экспертов, которые дают гостю яркие вкусы и интересные сочетания продуктов стабильно высокого качества!
          p.wow Мы – амбициозные, жизнерадостные, преданные своему делу и искренне любящие наших Гостей! Если это и про вас тоже, присылайте свои резюме!
          br
            
          p.wow BB&Burgers – cеть городских кафе, открытая в 2013 году, классический Burger Joint в лучшем его проявлении. Главное в меню – определенно бургеры из мраморной говядины Black Angus на домашних булочках. Мы готовим на открытой кухне, которая полностью стирает границы между приготовлением и подачей блюд гостям.
          p.wow Но BB&Burgers – это не только отличное меню, но и наша команда, которая внимательно относится к каждому этапу приготовления, радуется благодарным отзывам и с улыбкой приходит на работу. Cеть бургерных активно растет, а значит, растет и команда! Команда настоящих фанатов сочных бургеров, экспертов, которые дают гостю яркие вкусы и интересные сочетания продуктов стабильно высокого качества!
          p.wow Мы – амбициозные, жизнерадостные, преданные своему делу и искренне любящие наших Гостей! Если это и про вас тоже, присылайте свои резюме!
          
          h2.wow Список
          ul.wow
            li BB&Burgers – cеть городских кафе, открытая в 2013 году, классический Burger Joint в лучшем его проявлении. Главное в меню – определенно бургеры
            li BB&Burgers – cеть городских кафе, открытая в 2013 году, классический Burger Joint в лучшем его проявлении. Главное в меню – определенно бургеры
            li BB&Burgers – cеть городских кафе, открытая в 2013 году, классический Burger Joint в лучшем его проявлении. Главное в меню – определенно бургеры
            li BB&Burgers – cеть городских кафе, открытая в 2013 году, классический Burger Joint в лучшем его проявлении. Главное в меню – определенно бургеры
            li BB&Burgers – cеть городских кафе, открытая в 2013 году, классический Burger Joint в лучшем его проявлении. Главное в меню – определенно бургеры
            
            
