// HEADER
.header
  position: absolute
  top: 30px
  left: 0
  right: 0
  z-index: 10
  &--inner
    position: static
    padding: 25px 0
  &__wrapper
    display: flex
    align-items: center

  &__logo
    font-size: 60px
    color: white
    +r($mobile)
      font-size: 40px

  &__menu
    padding-left: 12.5%
    flex: 1 1 auto
    display: flex
    align-items: center
    color: white
    .btn
      margin-right: auto
      &:last-child
        margin-right: 0
