
.inner
  background: url('../img/el/innerBg.jpg') no-repeat center
  background-size: cover
  // background-position: fixed
  +r($tablet)
    background: white


.text-page
  position: relative

  &__title
    position: relative
    display: flex
    align-items: center
    padding: 10px 15px
    span
      flex: 0 0 auto
      font-size: 60px
      text-transform: uppercase
      padding-right: 30px
    &::after
      display: inline-block
      flex: 1 1 auto
      content: ' '
      border-top: 2px solid transparent
      border-bottom: 2px solid transparent
      padding-top: 3px
      border-color: currentColor

  &__container
    background: white

  &__wrapper
    padding: 30px 40px
    max-width: 1440px
    margin-left: auto
    margin-right: auto

    img
      padding-right: 25px
      padding-bottom: 15px
      margin-top: 1em

    p, ul
      font-size: 18px
      font-weight: 600
      line-height: 1.37
      letter-spacing: 0.025em

    h1, h2, h3, h4
      text-transform: uppercase
      margin: 1.5em 0 0.7em 0
      padding-left: 30px
      font-weight: 400

    h2
      font-size: 30px

    ul
      font-size: 18px
      list-style: circle
      padding-left: 30px
      li
        position: relative
        display: block
        margin-bottom: .7em
        &::before
          display: inline-block
          content: ' '
          position: absolute
          top: .4em
          left: -30px
          size: 8px
          border: 2.5px solid currentColor
          border-radius: 50%

+r($wide)
  .text-page
    &__title
      span
        font-size: 50px


+r($desktop)
  .text-page
    > .container
      padding-left: 0 !important
      padding-right: 0 !important

+r($mobile)
  .text-page
    &__wrapper
      padding: 20px 30px
      h1, h2, h3, h4
        padding-left: 0
      img
        float: none !important
        margin-left: -30px
        margin-right: -30px
        width: calc(100% + 90px) !important
        max-width: 200% !important

    &__title
      span
        font-size: 30px
      &::after
        border-top: 1px solid transparent
        border-bottom: 1px solid transparent
        padding-top: 2px
        border-color: currentColor
        margin-right: -40px

+r($mobile-ss)
  .text-page
    &__wrapper
      padding: 20px 20px
