.ico-electrisity {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-food-1 {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.ico-food-2 {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.ico-food-3 {
  width: 0.54em;
  height: 1em;
  fill: initial;
}
.ico-food-4 {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.ico-food-5 {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.ico-logo-round {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
.ico-logo {
  width: 3.56em;
  height: 1em;
  fill: initial;
}
.ico-man {
  width: 0.71em;
  height: 1em;
  fill: initial;
}
.ico-wifi {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
