$sprite: (
	arrow: (
		offset-x: -255px,
		offset-y: -195px,
		width: 74px,
		height: 47px,
		total-width: 584px,
		total-height: 539px,
		image: '../img/sprite.png'
	),
	callcentre: (
		offset-x: 0px,
		offset-y: 0px,
		width: 245px,
		height: 299px,
		total-width: 584px,
		total-height: 539px,
		image: '../img/sprite.png'
	),
	dostavka: (
		offset-x: 0px,
		offset-y: -309px,
		width: 260px,
		height: 230px,
		total-width: 584px,
		total-height: 539px,
		image: '../img/sprite.png'
	),
	insta-logo: (
		offset-x: -482px,
		offset-y: -373px,
		width: 51px,
		height: 51px,
		total-width: 584px,
		total-height: 539px,
		image: '../img/sprite.png'
	),
	man_logo: (
		offset-x: -270px,
		offset-y: -309px,
		width: 202px,
		height: 228px,
		total-width: 584px,
		total-height: 539px,
		image: '../img/sprite.png'
	),
	slick-arrow: (
		offset-x: -482px,
		offset-y: -309px,
		width: 54px,
		height: 54px,
		total-width: 584px,
		total-height: 539px,
		image: '../img/sprite.png'
	),
	wallet: (
		offset-x: -255px,
		offset-y: 0px,
		width: 329px,
		height: 185px,
		total-width: 584px,
		total-height: 539px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-arrow {
		@include sprite(arrow)
	}
	.icon-callcentre {
		@include sprite(callcentre)
	}
	.icon-dostavka {
		@include sprite(dostavka)
	}
	.icon-insta-logo {
		@include sprite(insta-logo)
	}
	.icon-man_logo {
		@include sprite(man_logo)
	}
	.icon-slick-arrow {
		@include sprite(slick-arrow)
	}
	.icon-wallet {
		@include sprite(wallet)
	}
